page-event-register-questions {
    input.text-input {
        margin: 13px 0px;
        width: 100%;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        padding: 0.5em;
    }

    .addRemoveOption {
        border-radius: 100%;
        height: 4.5rem;
        width: 4.5rem;
    }
    .addRemoveOption.danger {
        background-color: #ef473a !important;
        color: white
    }

    .option-letter {
        padding-top: 1.5em;
        padding-right: 1em;
        cursor: pointer;
    }

    .correct {
        background-color: #488aff;
        border-radius: 7px;
        padding: 0.5em;
        color: white;
    }
}
