<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ event?.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider color="info" text-center>
      Perguntas de <strong>{{ speaker?.name }}</strong>
  </ion-item-divider>
  <div padding>
    <ion-row padding *ngIf="initialLoading" text-center>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw m-auto"></i>
    </ion-row>
    <ion-row padding *ngIf="!allQuestions && !initialLoading" text-center>
      <span>Nenhuma pergunta cadastrada para este palestrante.</span>
    </ion-row>
    <ion-grid *ngIf="allQuestions && initialLoading" class="mb-1">
      <ion-row>
        <ion-col>
          <strong>Ordem (nº)</strong>
        </ion-col>
        <ion-col>
          <strong>Pergunta</strong>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row class="table-striped" *ngFor="let question of allQuestions" (click)="goToQuestionsSection()">
        <ion-col class="ellipsis">
          {{ question.name }}
        </ion-col>
        <ion-col class="ellipsis">
          {{ question.detail }}
        </ion-col>
      </ion-row>
      <hr />
    </ion-grid>
  </div>

</ion-content>
