<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ event?.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding class="flex">
    <ion-row class="mt-auto">
      <div col class="col-zero mt-auto pl-pr-0 c-gray">
        <div *ngFor="let value of maxValue; let index = index">
          <div class="block-size bd-right">
            <div text-right class="pd-right font-sm"
              [class.hidden]="getTableChartDisplay(maxValue.length, index)">
              {{ (maxValue.length - index) }}
            </div>
          </div>
        </div>
        <hr>
        <div text-right class="block-pattern-size bd-right pd-right font-sm">0</div>
      </div>
      <div col class="columns mt-auto pl-pr-0 c-gray" *ngFor="let column of chartInfo; let index = index">
        <div text-center class="block-pattern-size font-regular">
          {{ column.quantity }}
        </div>
        <div *ngFor="let n of chartMatrix[index]; let idx = index">
          <div class="block-size font-regular" [style.background-color]="colors[(randomColorInit + index) % colors.length]">
            <!-- <div class="pdl-pdt" *ngIf="idx === 0">{{ (100 * column.quantity / totalAnswers) | number:0 }}%</div> -->
          </div>
        </div>
        <hr>
        <div text-center class="block-pattern-size pt-1">
          <span class="font-m">( {{ column.option }} )</span>
          &nbsp;<strong>{{ (100 * column.quantity / totalAnswers) | number : '1.2-2' }}%</strong>
        </div>
      </div>
    </ion-row>
  </div>
</ion-content>
