page-event-menu {
    span.card-header {
        padding: 0.4em;
        padding-left: 0.75em;
        position: absolute;
    }
    i.fa-17 {
        font-size: 1.7em;
        padding-top: 0.1em;
    }
    ion-card.card-light-gray {
        background-color: #fafafa;
        border-radius: 4px;
    }
    ion-content.bg-light-gray {
        background-color: #eee;
    }
}
