page-event-menu {
    span.card-header {
        padding: 0.4em;
        padding-left: 0.75em;
        position: absolute;
    }
    i.fa-17 {
        font-size: 1.7em;
        padding-top: 0.1em;
    }
    ion-card.card-light-gray {
        background-color: #fafafa;
        border-radius: 4px;
    }
    ion-content.bg-light-gray {
        background-color: #f5f5f5;
    }
    
    ion-card-header.bold.card-header {
        color: #444;
    }
    ion-card-content.card-content {
        color: #222;
    }

    .fa {
        color: #488aff;
    }
}
