<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ event?.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- PALESTRANTES -->

  <!-- componentizar esse elemento -->
  <div class="new-padding">
    <ion-row class="page-info">
      <div col class="pt-14">Palestrantes</div>
      <div col class="pr-0">
        <button class="btn-add" (click)="goToAddPage()">+ add</button>
      </div>
    </ion-row>
  </div>
  <!-- -->

  <div class="pd-20">
    <ion-row padding *ngIf="showErrorMsg" text-center>
      <span text-center>{{ message }}</span>
      <!-- botão carregar novamente -->
      <!-- <span>Nenhum palestrante cadastrado para este evento ainda.</span> -->
    </ion-row>
    <ion-grid *ngIf="allSpeakers" class="table-pattern">
      <ion-row class="table-header">
        <ion-col>
          <strong>Nome</strong>
        </ion-col>
        <ion-col>
          <strong>Tema</strong>
        </ion-col>
        <!-- <ion-col class="text-right">
          <strong>Deletar</strong>
        </ion-col> -->
      </ion-row>
      <hr />
      <ion-row class="table-striped table-body" *ngFor="let speaker of allSpeakers">
        <ion-col class="ellipsis">
          {{ speaker.name }}
        </ion-col>
        <ion-col class="ellipsis">
          {{ speaker.detail }}
        </ion-col>
        <!-- <ion-col class="text-right">
          <i class="fa fa-trash-o fa-lg danger"></i>
        </ion-col> -->
      </ion-row>
      <hr />
    </ion-grid>
  </div>

  <!-- CADASTRO -->
  <div *ngIf="false">
    <ion-item-divider color="info" text-center>
      <strong>Novo palestrante</strong>
    </ion-item-divider>
    <form [formGroup]="form" padding>
      <ion-grid fixed>
        <ion-row align-items-center justify-content-center>
          <ion-col col-12 col-sm-12 col-md-12>
            <ion-label stacked>Foto</ion-label>
            <div>
              <div class="m-16">
                <label for='speakers-photo'>Selecione uma foto...</label>
              </div>
              <input type="file" id="speakers-photo" name="speakers-photo" (change)="readImg($event)">
            </div>
            <!-- if is Cordova -->
            <!-- <div *ngIf="!isDesktop" class="mh-16">
              <button type="file" ion-button color="primary" (click)="uploadImageMobile()">Selecionar foto</button>
            </div> -->
            <div class="mt-32" *ngIf="myphoto">
              <img class="speakers-photo"src="{{ myphoto }}">
            </div>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-12>
            <ion-label stacked>Nome</ion-label>
            <div class="mh-16">
              <ion-input type="text" value="{{ newSpeaker?.name }}" formControlName="name"></ion-input>
            </div>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-12>
            <ion-label stacked>Tema da Palestra</ion-label>
            <div class="mh-16">
              <ion-input type="text" value="{{ newSpeaker?.detail }}" formControlName="detail"></ion-input>
            </div>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-12>
            <ion-label stacked>Currículo</ion-label>
            <!-- <ion-input type="text" value="{{ newSpeaker?.resume }}" formControlName="resume"></ion-input> -->
            <div class="m-16">
              <div id="froala-editor" [froalaEditor] formControlName="resume"></div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row padding>
          <ion-col col-12 col-sm-12 col-md-12>
            <button ion-button block (click)="save()" [disabled]="!form.valid">SALVAR</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
